.nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  font-size: 1.2em;
  font-weight: bold;
}
.navbar {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: blue;
  color: black;
  padding: 20px;
}
.Heading {
  display: flex;
  justify-content: center;
  text-align: center;
}
